<a href="https://colab.research.google.com/github/cesarorrr/Big-Data-Class/blob/main/2_Ejercicio_Missing_Values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""

@author: dmorenca
"""

'\n\n@author: dmorenca\n'

In [1]:
import pandas as pd
import numpy as np

In [21]:
# Crear un DataFrame de ejemplo con valores faltantes
datos = {
    'Nombre': ['Ana', 'Luis', 'Carlos', 'Marta', np.nan],
    'Edad': [23, 25, np.nan, 30, 22],
    'Ciudad': ['Madrid', 'Barcelona', 'Murcia', 'Sevilla', 'Bilbao'],
    'Salario': [30000, 32000, 35000, np.nan, 28000]
}

df = pd.DataFrame(datos)

In [22]:
# Mostrar el DataFrame original con valores faltantes
print(df)

   Nombre  Edad     Ciudad  Salario
0     Ana  23.0     Madrid  30000.0
1    Luis  25.0  Barcelona  32000.0
2  Carlos   NaN     Murcia  35000.0
3   Marta  30.0    Sevilla      NaN
4     NaN  22.0     Bilbao  28000.0

In [23]:
#Checking for missing values
print(df.isna().sum())

Nombre     1
Edad       1
Ciudad     0
Salario    1
dtype: int64

In [24]:
# Eliminar filas con valores faltantes
df_dropna = df.dropna()

In [25]:
# Mostrar el DataFrame después de eliminar los valores faltantes
print(df_dropna)

  Nombre  Edad     Ciudad  Salario
0    Ana  23.0     Madrid  30000.0
1   Luis  25.0  Barcelona  32000.0

In [26]:
# Imputar la mediana para los valores faltantes en 'Salario'

# Calcular la mediana de la columna 'Salario'
mediana_salario = df['Salario'].median()
print(mediana_salario)
# Imputar la mediana en los valores faltantes de la columna 'Salario'
df['Salario'] = df['Salario'].fillna(mediana_salario)

# print(df)

31000.0

In [27]:
# Imputar la media para los valores faltantes en 'Edad'

# Calcular la mediana de la columna 'Salario'
media_edad = df['Edad'].mean()
print(media_edad)
# Imputar la mediana en los valores faltantes de la columna 'Salario'
df['Edad'] = df['Edad'].fillna(media_edad)

# print(df)

25.0

In [28]:
# Mostrar el DataFrame después de imputar valores
print(df)

   Nombre  Edad     Ciudad  Salario
0     Ana  23.0     Madrid  30000.0
1    Luis  25.0  Barcelona  32000.0
2  Carlos  25.0     Murcia  35000.0
3   Marta  30.0    Sevilla  31000.0
4     NaN  22.0     Bilbao  28000.0

In [29]:
# Verificar los valores faltantes restantes
df.isna().sum()

Nombre     1
Edad       0
Ciudad     0
Salario    0
dtype: int64

In [33]:
# Imputar por subgrupo utilizando la mediana de 'Salario' por 'Ciudad'

# Calcular la mediana de 'Salario' por 'Ciudad'
medianas_por_ciudad = df.groupby('Ciudad')['Salario'].median()
# Imputar los valores faltantes en 'Salario' usando la mediana por 'Ciudad'
df['Salario'] = df.apply(
    lambda row: medianas_por_ciudad[row['Ciudad']] if pd.isna(row['Salario']) and pd.notna(row['Ciudad']) else row['Salario'],
    axis=1
)

In [34]:
print(medianas_por_ciudad)

Ciudad
Barcelona    32000.0
Bilbao       28000.0
Madrid       30000.0
Murcia       35000.0
Sevilla      31000.0
Name: Salario, dtype: float64

In [35]:
# Mostrar el DataFrame después de imputar por subgrupo
print(df)

   Nombre  Edad     Ciudad  Salario
0     Ana  23.0     Madrid  30000.0
1    Luis  25.0  Barcelona  32000.0
2  Carlos  25.0     Murcia  35000.0
3   Marta  30.0    Sevilla  31000.0
4     NaN  22.0     Bilbao  28000.0

In [36]:
# no mas missing values
df.isna().sum()

Nombre     1
Edad       0
Ciudad     0
Salario    0
dtype: int64

In [ ]:
"""
Este código realiza varias operaciones para manejar los valores faltantes en un DataFrame llamado `df`. Aquí está la explicación paso a paso:

1. **Creación del DataFrame**: Se crea un DataFrame `df` que contiene columnas como 'Nombre', 'Edad', 'Ciudad' y 'Salario', incluyendo algunos valores faltantes (`NaN`).

2. **Mostrar el DataFrame Original**: Se imprime el DataFrame original para visualizar los valores faltantes y su estructura.

3. **Verificación de Valores Faltantes**: Se utiliza `df.isna().sum()` para contar y mostrar el número de valores faltantes en cada columna del DataFrame.

4. **Eliminar Filas con Valores Faltantes**: Se eliminan las filas que contienen valores faltantes utilizando `df.dropna()`. Esto genera un nuevo DataFrame `df_dropna` sin las filas con `NaN`.

5. **Calcular la Mediana de Salario**: Se calcula la mediana de la columna 'Salario' y se almacena en la variable `mediana_salario`. Esto se utiliza para imputar valores faltantes en esa columna.

6. **Imputación de Salario**: Se imputan los valores faltantes en la columna 'Salario' utilizando la mediana calculada. Se emplea `fillna(mediana_salario)` para reemplazar los valores `NaN` en 'Salario'.

7. **Calcular la Media de Edad**: Se calcula la media de la columna 'Edad' y se guarda en la variable `media_edad`. Esto es útil para imputar los valores faltantes en 'Edad'.

8. **Imputación de Edad**: Similar al paso anterior, se imputa la media calculada de 'Edad' en los valores faltantes de esa columna usando `fillna(media_edad)`.

9. **Mostrar el DataFrame Después de Imputaciones**: Se imprime el DataFrame `df` para verificar los cambios realizados y observar que los valores faltantes han sido imputados.

10. **Verificación de Valores Faltantes Restantes**: Se vuelve a usar `df.isna().sum()` para comprobar si aún quedan valores faltantes en el DataFrame después de las imputaciones.

11. **Imputación por Subgrupo Usando la Mediana de Salario por Ciudad**: Se calcula la mediana de 'Salario' agrupada por 'Ciudad' utilizando `df.groupby('Ciudad')['Salario'].median()`. Esto permite imputar los salarios en función de la ciudad correspondiente.

12. **Imputación de Salario por Ciudad**: Se imputan los valores faltantes en 'Salario' usando la mediana calculada para cada ciudad. Se utiliza `df.apply()` junto con una función `lambda` para aplicar esta lógica a cada fila.

13. **Mostrar la Mediana de Salario por Ciudad**: Se imprime el resultado de las medianas por ciudad para tener una referencia de los valores utilizados para la imputación.

14. **Mostrar el DataFrame Después de Imputar por Subgrupo**: Finalmente, se imprime el DataFrame `df` después de realizar la imputación por subgrupo, mostrando el estado final del DataFrame.

15. **Verificación de Valores Faltantes Finales**: Se utiliza `df.isna().sum()` una vez más para confirmar que no hay más valores faltantes en el DataFrame.

En resumen, este código maneja los valores faltantes en un DataFrame a través de eliminación de filas, imputaciones utilizando medianas y medias, y también mediante la imputación de valores basados en subgrupos, mejorando así la calidad de los datos para análisis futuros.
"""

'\nEste código realiza varias operaciones para manejar los valores faltantes en un DataFrame llamado `df`. Aquí está la explicación paso a paso:\n\n1. **`cols_to_drop = df.columns[df.isna().sum() <= threshold]`**: Se crea una lista de columnas (`cols_to_drop`) que tienen un número de valores faltantes menor o igual que un umbral definido (`threshold`). Esto se hace verificando la suma de valores faltantes (`NaN`) en cada columna utilizando `df.isna().sum()`.\n\n2. **`df.dropna(subset=cols_to_drop, inplace=True)`**: Se eliminan las filas que contienen valores faltantes en las columnas identificadas en `cols_to_drop`. Esto se hace utilizando el método `dropna()` en el DataFrame `df`, con el parámetro `subset` establecido en las columnas seleccionadas.\n\n3. **`median_quantity = df[\'Quantity\'].median()`**: Se calcula la mediana de la columna \'Quantity\' y se asigna a la variable `median_quantity`.\n\n4. **`df[\'Quantity\'] = df[\'Quantity\'].fillna(median_quantity)`**: Se imputa la mediana calculada (`median_quantity`) en las celdas vacías de la columna \'Quantity\'.\n\n5. **`mean_price = df[\'UnitPrice\'].mean()`**: Se calcula la media de la columna \'UnitPrice\' y se asigna a la variable `mean_price`.\n\n6. **`df[\'UnitPrice\'] = df[\'UnitPrice\'].fillna(mean_price)`**: Se imputa la media calculada (`mean_price`) en las celdas vacías de la columna \'UnitPrice\'.\n\n7. **`df[\'Quantity\'] = df.groupby(\'Product\')[\'Quantity\'].transform(lambda x: x.fillna(x.median()))`**: Se imputa la mediana de \'Quantity\' agrupada por \'Product\'. Esto significa que para cada grupo de productos, se imputará la mediana de \'Quantity\' en las celdas vacías de ese grupo.\n\n8. **`df_dict = df.groupby(\'Product\')["Quantity"].median().to_dict()`**: Se crea un diccionario (`df_dict`) que mapea cada producto a su mediana de \'Quantity\'. Esto puede ser útil para referencia futura.\n\n9. **`print(df.isna().sum())`**: Se imprime la suma de valores faltantes en el DataFrame para verificar que ya no hay valores faltantes.\n\nEn resumen, este código realiza operaciones para eliminar filas con valores faltantes, imputar valores faltantes utilizando la mediana y la media, y también imputar valores faltantes por subgrupo utilizando la mediana agrupada por ciertas características.\n\n'