<a href="https://colab.research.google.com/github/cesarorrr/Clase2_C1C_Fuentes_-_Tipos_Datos/blob/Clase2_C1C_Fuentes_-_Tipos_Datos/Clase2_C1C_Fuentes_%26_Tipos_Datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Tipos de Datos en Python

# Bienvenidos a la lección sobre tipos de datos.
# Vamos a ver los tipos de datos básicos en Python:
# enteros (int), números con decimales (float), cadenas de texto (str), y booleanos (bool).

# Ejemplo 1: Enteros
print("Ejemplo 1: Trabajando con Enteros")
numero_entero = 5
print("El valor de 'numero_entero' es:", numero_entero)
print("El tipo de dato de 'numero_entero' es:", type(numero_entero))

Ejemplo 1: Trabajando con Enteros
El valor de 'numero_entero' es: 5
El tipo de dato de 'numero_entero' es: <class 'int'>

In [ ]:

# Ejercicio: Crea tu propio número entero y verifica su tipo
mi_numero = 10  # Cambia este valor para practicar
print("Tu número entero es:", mi_numero)
print("El tipo de dato es:", type(mi_numero))

print("\n---------------------------------------\n")

Tu número entero es: 10
El tipo de dato es: <class 'int'>

---------------------------------------

In [ ]:

# Ejemplo 2: Flotantes (números con decimales)
print("Ejemplo 2: Trabajando con Flotantes")
numero_flotante = 3.14
print("El valor de 'numero_flotante' es:", numero_flotante)
print("El tipo de dato de 'numero_flotante' es:", type(numero_flotante))

Ejemplo 2: Trabajando con Flotantes
El valor de 'numero_flotante' es: 3.14
El tipo de dato de 'numero_flotante' es: <class 'float'>

In [ ]:
# Ejercicio: Crea tu propio número flotante y verifica su tipo
mi_flotante = 9.81  # Cambia este valor para practicar
print("Tu número flotante es:", mi_flotante)
print("El tipo de dato es:", type(mi_flotante))

print("\n---------------------------------------\n")

Tu número flotante es: 9.81
El tipo de dato es: <class 'float'>

---------------------------------------

In [ ]:
# Ejemplo 3: Cadenas de Texto (Strings)
print("Ejemplo 3: Trabajando con Cadenas de Texto")
texto = "¡Hola, estudiantes!"
print("El valor de 'texto' es:", texto)
print("El tipo de dato de 'texto' es:", type(texto))

Ejemplo 3: Trabajando con Cadenas de Texto
El valor de 'texto' es: ¡Hola, estudiantes!
El tipo de dato de 'texto' es: <class 'str'>

In [ ]:
# Ejercicio: Crea tu propia cadena de texto y verifica su tipo
mi_texto = "Estoy aprendiendo tipos de datos"  # Cambia este valor para practicar
print("Tu texto es:", mi_texto)
print("El tipo de dato es:", type(mi_texto))

print("\n---------------------------------------\n")

Tu texto es: Estoy aprendiendo tipos de datos
El tipo de dato es: <class 'str'>

---------------------------------------

In [ ]:
# Ejemplo 4: Booleanos (Verdadero o Falso)
print("Ejemplo 4: Trabajando con Booleanos")
es_estudiante = True
print("El valor de 'es_estudiante' es:", es_estudiante)
print("El tipo de dato de 'es_estudiante' es:", type(es_estudiante))

Ejemplo 4: Trabajando con Booleanos
El valor de 'es_estudiante' es: True
El tipo de dato de 'es_estudiante' es: <class 'bool'>

In [ ]:
# Ejercicio: Crea tu propio valor booleano y verifica su tipo
mi_booleano = False  # Cambia este valor para practicar
print("Tu valor booleano es:", mi_booleano)
print("El tipo de dato es:", type(mi_booleano))

print("\n---------------------------------------\n")

Tu valor booleano es: False
El tipo de dato es: <class 'bool'>

---------------------------------------

In [ ]:
# Ejercicio final: Identificando tipos de datos
# Observa las siguientes variables e intenta adivinar su tipo de dato antes de ejecutar el código.
print("Ejercicio Final: Identificando tipos de datos")
variable1 = 100
variable2 = 12.34
variable3 = "Python es divertido"
variable4 = False

print("El valor de 'variable1' es:", variable1, "y su tipo de dato es:", type(variable1))
print("El valor de 'variable2' es:", variable2, "y su tipo de dato es:", type(variable2))
print("El valor de 'variable3' es:", variable3, "y su tipo de dato es:", type(variable3))
print("El valor de 'variable4' es:", variable4, "y su tipo de dato es:", type(variable4))

Ejercicio Final: Identificando tipos de datos
El valor de 'variable1' es: 100 y su tipo de dato es: <class 'int'>
El valor de 'variable2' es: 12.34 y su tipo de dato es: <class 'float'>
El valor de 'variable3' es: Python es divertido y su tipo de dato es: <class 'str'>
El valor de 'variable4' es: False y su tipo de dato es: <class 'bool'>