<a href="https://colab.research.google.com/github/cesarorrr/Big-Data-Class/blob/main/Ejercicio_grupo_datos_preProyecto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Importamos las librerias
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import csv
import gdown

In [ ]:
borough_data = pd.read_json("/content/borough_data.json")
borough_data.head()

            the bronx   brooklyn  manhattan     queens  staten island
name        the bronx   brooklyn  manhattan     queens  staten island
population  1471160.0  2648771.0  1664727.0  2358582.0       479458.0
area             42.1      70.82      22.83     108.53          58.37

In [ ]:
# Subimos los datos y asignamos a una variable

accidents = pd.read_csv("/content/accidents.csv",delimiter=";")
# accidents.head(-5)
# accidents.info()
# accidents.shape
# accidents["CONTRIBUTING FACTOR VEHICLE 1"].value_counts()
# accidents["CONTRIBUTING FACTOR VEHICLE 2"].value_counts()
# accidents["CONTRIBUTING FACTOR VEHICLE 5"]
# accidents.isna().sum()
# accidents.shape

In [ ]:
# LOngitud y lalitut = Nan eliminas la fila
# ZIP Code = Nan eliminasmos la fila
# ON STREET NAME inputar por subgrupo
# CONTRIBUTING FACTOR inputar por subgrupo
# VEHICLE TYPE inputar por subgrupo

accidents_clear = accidents.dropna(subset=['LATITUDE','LONGITUDE','ZIP CODE'])
accidents_clear = accidents_clear.drop(columns=['ON STREET NAME'])

colums_to_convert = ['CONTRIBUTING FACTOR VEHICLE 1','CONTRIBUTING FACTOR VEHICLE 2','CONTRIBUTING FACTOR VEHICLE 3','CONTRIBUTING FACTOR VEHICLE 4','CONTRIBUTING FACTOR VEHICLE 5']
accidents_clear[colums_to_convert] = accidents_clear[colums_to_convert].notnull().astype(int)

accidents_clear.isna().sum()
# accidents_clear.shape

DATE                                  0
TIME                                  0
BOROUGH                               0
ZIP CODE                              0
LATITUDE                              0
LONGITUDE                             0
NUMBER OF PEDESTRIANS INJURED         0
NUMBER OF PEDESTRIANS KILLED          0
NUMBER OF CYCLIST INJURED             0
NUMBER OF CYCLIST KILLED              0
NUMBER OF MOTORIST INJURED            0
NUMBER OF MOTORIST KILLED             0
CONTRIBUTING FACTOR VEHICLE 1         0
CONTRIBUTING FACTOR VEHICLE 2         0
CONTRIBUTING FACTOR VEHICLE 3         0
CONTRIBUTING FACTOR VEHICLE 4         0
CONTRIBUTING FACTOR VEHICLE 5         0
COLLISION_ID                          0
VEHICLE TYPE CODE 1                1690
VEHICLE TYPE CODE 2               54234
VEHICLE TYPE CODE 3              219469
VEHICLE TYPE CODE 4              228814
VEHICLE TYPE CODE 5              230743
dtype: int64